html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: url("../img/yellow-sand.png");
}


.zag {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 50px auto;
	width: 80%;
	border-top: solid #FF0000;
	border-bottom: solid #FF0000;
	background-position: center;
	text-transform: uppercase;
	
	
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
	margin: 1px auto;
	font-family: RubensModern;
	font-size: 500%;
	color: #FF0000;
	text-shadow: 8px 8px 8px #000000;
}

h3 {
    text-align: center;
    font-size: 150%;
    font-family: ar_Aquaguy;
    color: #FF0000;
}



h4 {
	text-align: center;
	font-size: 180%;
	padding-top: 0.5px;
    color: #000000;
	font-family: ar_Aquaguy;
	
}

h5 {
	padding-top: px;
}

.sk {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 1.5em;
}


.sk div {
	display: flex;
	justify-content: center;
    align-items: center;
	margin-left: 10px;
	margin-right: 10px;
	
}

.sk div:nth-child(1) {
	display: flex;
	height: 105px;
	width: 150px;
	background: url("../img/znaksk.jpg");
	border-radius: 10px;
	
	
}

.sk div:nth-child(2) {
	display: flex;
	justify-content: center;
    align-items: center;
    text-align: center;
	font-size: 170%;
	color: #FFFFFF;
	text-shadow: 2px 2px 2px #000000;
	
	
}

.sk div:nth-child(3) {
    display: flex;
	height: 105px;
	width: 150px;
	background: url("../img/znaksk.jpg");
	border-radius: 10px;
	
}

.container {
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	
}



.container div {
	display: flex;
	background-color: #FAF0E6;
	height: 50px;
	width: 19%;
	justify-content: center;
	align-items: center;
	font-size: 115%;
	margin-left: 5px;
	margin-right: 5px;
	font-family: Nagonia;
	text-align: center;
	
}

@font-face {
	font-family: Nagonia;
	src: url("../fonts/Nagonia.woff");
}

.container div:nth-child(1) {
	
	background: #F0E68C;
	
}

 .container div > a {
text-decoration: none;	
color: #000000;
text-transform: uppercase;

}



.container div > a:hover {
	color: #32CD32;
	
}


 @font-face {
	src: url("../fonts/RubensModern.woff");
	font-family: RubensModern;
	
}

@font-face {
src: url("../fonts/ar_Aquaguy.woff");
	font-family: ar_Aquaguy;
}


.container2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 2em auto;

}

.container2 div {
 display: flex;
 margin-left: 1em;
 border: 8px solid #FAF0E6;
 margin-right: 1em;

}

.container2 div:nth-child(1) {
    height: 600px;
	width: 25%;	
	background-image: url("../img/hlebperv.jpg");
      background-size: cover;
	 background-repeat: no-repeat;
	
 }


.container2 div:nth-child(2) {
    height: 600px;
	width: 30%;	
	background-image: url("../img/bread-3512005_1280.jpg"); 
	 background-size: cover;
	 background-repeat: no-repeat;
   
 }
 
 .container2 div:nth-child(3) {
    height: 600px;
	width: 25%;	
	background-image: url("../img/food-3088353_1280.jpg"); 
	 background-size: cover;
	 background-repeat: no-repeat;
   
 }
 

 
 .podval {
	 display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

 }
 
 .podval div {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #FAF0E6;
	height: 20px;
	width: 33%;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 100%;
	
	
 }
 
.podval2 {
	 display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	 
 }
 
 
 .podval2 div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FAF0E6;
	height: 100px;
	width: 33%;
	text-align: center;
	font-weight: bold;
 }
 


  .podval2 div > a {

font-family: 18893;
text-decoration: none;	
color: #000000;



}

.podval2 div:nth-child(3) {
	display: flex;
	flex-direction: column;
  align-items: center;
	
}

 .podval div:nth-child(1) {
	  border-right: 1px dashed;
	} 
 
 
 .podval div:nth-child(2) {
	   border-right: 1px dashed;
	} 
 
 .podval2 div:nth-child(1) {
	  border-right: 1px dashed;
	} 
 
 
 .podval2 div:nth-child(2) {
	   border-right: 1px dashed;
	} 
 
 
 
 .blockonas {
	  display: flex;
	   justify-content: center;
	   align-content: center;
	margin: 10px auto;

	width: 70%; 
	 font-size: 200%;
	 font-weight: bold;
	 text-indent: 10px;
	 color: #FFFFFF;
	 text-shadow: 1px 1px 1px #8B0000;
	 margin-bottom: 1em;
 }
 
 .blockonas div {
      display: flex;
      align-items: center;
	   flex-direction: column;
	   align-content: center;
 }
 
 .assort {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 1em;
	
	
 }
 
 .assort div {
     
     display: flex;
	 justify-content: center;
	 align-items: center;
	 align-content: center;
	 margin-bottom: 1em;
 }
     
 
 
 .assort div:nth-child(1) {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 align-content: center;
	 width: 90%;
	 height: 2200px;
	 background: url("../img/assortbr.jpg") no-repeat;
	 background-size: 100% 100%;
   
	 
 }
 
 .assort div:nth-child(2) {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 align-content: center;
	 width: 90%;
	 height: 2200px;
	 background: url("../img/assortbrdva.jpg") no-repeat;
	background-size: 100% 100%;
 }
 
 .zakaz {
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	 align-items: center;
	 align-content: center;
	 margin: 60px auto;
 }
 
 .zakaz div {
     display: flex;
	 justify-content: center;
	 align-items: center;
	 align-content: center;
 }
 
 .zakaz div:nth-child(1) {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	 width: 40%;
	 height: 426px;
	 background: url("../img/dostavka.jpg");
	 background-size: 100% 100%;
	 border: 8px solid #FAF0E6;
	

 }
 
 .zakaz div:nth-child(2) {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	  padding-left: 20px;
	 width: 40%;
	  font-size: 200%;
	 font-weight: bold;
	 text-indent: 10px;
	 color: #FFFFFF;
	 text-shadow: 1px 1px 1px #8B0000;
	
 }
 
 .adress {
	  display: flex;
	 flex-direction: row;
	 justify-content: center;
	 align-items: center;
	 align-content: center;
	 margin: 60px auto;
 }
 
 .adress div {
     
     display: flex;
	 justify-content: center;
	 align-items: center;
	 align-content: center;
 }
 
 .adress div:nth-child(1) {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	 width: 40%;
	 height: 475px;
	 background: url("../img/magaz.jpg");
	 background-size: 100% 100%;
	 border: 8px solid #FAF0E6;

 }
 
 .adress div:nth-child(2) {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 align-content: center;
	  padding-left: 20px;
	 width: 40%;
	  font-size: 200%;
	 font-weight: bold;
	 color: #FFFFFF;
	 text-shadow: 1px 1px 1px #8B0000;
 }
 
 li {
    list-style-type: none; 
	 margin-bottom: 0.5em;
   }


@media all and (max-width: 800px) {
    .container2 {flex-direction: column; justify-content: center; margin: 40px auto; align-items: center;}
    .container2 div {margin-top: 10px; justify-content: center;}
	.container2 div:nth-child(2) {height: 400px; width: 600px;	background-image: url("../img/hlebgorizont.jpg"); background-size: cover; background-repeat: no-repeat;}
	.container2 div:nth-child(1) {display: none;}
	.container2 div:nth-child(3) {display: none;}
	.zag {width: 500px; height: 230px;}
	.h1 {text-align: center; font-size: 250%;}
	.sk {flex-direction: column; margin: 10px auto;}
	.sk div {justify-content: center;}
	.sk div:nth-child(3) {margin: 10px auto;}
	.sk div:nth-child(1) {display: none;}
	.assort div:nth-child(1) {background: url("../img/assortbrs.jpg") no-repeat;}
	.assort div:nth-child(2) {background: url("../img/assortbrdvas.jpg") no-repeat;}
	
}   
 /* #F0E68C  #FFDEAD   text-shadow: 8px 8px 8px #8B4513;*/